header {
  width: 100%;
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.logo {}



.dropdown {
  display: none;
}

@media (max-width: 480px) {
  .logo {
    width: 50px;
  }

  .dropdown {
    display: block;
    color: #64FFDA;
  }
  .dropdown:hover {
    cursor: pointer;
  }
}